#home
  img#logo(src="/img/spacepirate-logo.svg")
  .label
    h2 We Are 
    h1 Space Pirates
  include _contactus

  p.byline We are seed to early-stage investors bent on empowering great companies succeed
  
  .partners
    h3 Partners
    p Mike Germano
    p Chris Petescia
    p Kyle MacDonald
