*
  margin: 0

html, body
  height: 100%
  background: black url('/img/star_bg.jpg') repeat

  #main
    min-height: 100%
    margin-bottom: sub-footer-height

    &:after
      content: ""
      display: block
      height: footer-height
