#home
  padding-top: 60px
  center(container-width)
  text-align: center
  text-transform: uppercase
  
  .label
    margin-top: .5em
    margin-bottom: 2em
    
    h1,h2
      letter-spacing: .05em
      margin: 7px 0 0 

    h2
      display: block
      width: 119px
      height: 33px
      text-indent: -9000px
      background: url('/img/we-are.svg') no-repeat
      margin: 0 auto
    h1
      font-size: 2.75em 

